extends layout

block content

  h1= title

  p #[strong 本当にこの書籍インスタンスを削除してよろしいですか？]

  div(style="margin-left:20px")

    p #[strong ID]: #{bookinstance._id}

    p #[strong タイトル: ]
      a(href=bookinstance.book.url) #{bookinstance.book.title}

    p #[strong 出版情報:] #{bookinstance.imprint}

    p #[strong ステータス: ]
      if bookinstance.status=='Available'
        span.text-success 在庫あり
      else if bookinstance.status=='Maintenance'
        span.text-danger メンテナンス中
      else
        span.text-warning #{bookinstance.status}

    if bookinstance.status!='Available'
      p #[strong 返却予定日:] #{bookinstance.due_back_formatted}

  form(method='POST')
    div.form-group
      input#id.form-control(type='hidden',name='id', value=bookinstance._id )

    button.btn.btn-primary(type='submit') 削除