extends layout

block content

  h1 ID: #{bookinstance._id}

  p #[strong タイトル: ]
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong 出版情報:] #{bookinstance.imprint}

  p #[strong ステータス: ]
    if bookinstance.status=='Available'
      span.text-success 在庫あり
    else if bookinstance.status=='Maintenance'
      span.text-danger メンテナンス中
    else
      span.text-warning #{bookinstance.status}

  if bookinstance.status!='Available'
    p #[strong 返却予定日:] #{bookinstance.due_back_formatted}

  hr
  p
    a(href=bookinstance.url+'/delete') 書籍インスタンスを削除
  p
    a(href=bookinstance.url+'/update') 書籍インスタンスを更新