extends layout

block content
  h1= title
  p ようこそ #[em LocalLibrary] へ。これは Mozilla Developer Network のチュートリアル例として開発された、非常に基本的な Express ウェブサイトです。

  h1 動的なコンテンツ

  p ライブラリには以下の記録件数があります：

  ul
    li #[strong 書籍数：] !{book_count}
    li #[strong 複本数：] !{book_instance_count}
    li #[strong 利用可能な複本数：] !{book_instance_available_count}
    li #[strong 著者数：] !{author_count}
    li #[strong ジャンル数：] !{genre_count}